body{
    font-family: roboto;
    
}
.nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
    margin: -20px 24px 0 15px;
    color: white;
}
.nav li{
    margin-left: 40px;
    color: black;
}

.nav li >a{
    text-decoration: none;
    color: black;
}

.nav li :hover{
    /* margin-left: 40px; */
    color: blueviolet;
}

.logo{
    height: 30px;
    width: 30px;
    margin: 15px 0 0 80px;
    border-radius: 50%;
}

.logo-name{
    margin: -18px 0 0 160px;
    color: black;
    font-weight: 700;
    font-size: 28px;
}

.head{
    margin: 0 500px;
    font-weight: 700;
    color: blueviolet;
}

.sub-head{

    margin: 0 500px;
    color: pink;
}

.card{
    display: flex;


}

.card-header{
    
}

.card-body{
    
}